<h3 class="p-3 text-center">ALL <i class="fa fa-users" aria-hidden="true"></i></h3>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>




                
                     <th>UserName</th>
<!--                     
                     <th>PhoneNumber</th>
                
                     <th>Contry</th>
                     <th>City</th> -->
                
               
        </thead>
        <tbody>
            



            <tr *ngFor="let user of Users" >
             
                <td>{{user.UserName}}</td>
<!--        
                <td>{{user.Email}}</td>
              
                <td>{{user.PhoneNumber}}</td>
              
                <td>{{user.Contry}}</td>
                <td>{{user.City}}</td> -->




             
            </tr>
        </tbody>
    </table>
  //<button type="submit" style="float: left;" (click)="getall()" class="btn btn-primary mr-1">Sign</button> -->
</div>