<!-- <div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem">
        <div class="card-body p-5 text-center">
          <form [formGroup]="forgetform" (ngSubmit)="onsubmit()">
            <div class="form-group">
              <label>Email</label>
              <input
                type="text"
                id="Email"
                formControlName="Email"
                class="form-control"

              />
            </div>

            <div class="form-group">
              <label class="form-label" for="NewPassword">New NewPassword</label>
              <input
                type="NewNewPassword"
                id="NewNewPassword"
                formControlName="NewNewPassword"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label class="form-label" for="NewPassword">Confirm NewPassword</label>
              <input
                type="ConfirmNewPassword"
                id="NewPassword"
                formControlName="ConfirmNewPassword"
                class="form-control"
              />
            </div>

            <button class="btn btn-outline-light btn-lg px-5" type="submit">
              GO
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <form [formGroup]="Formresetpass" (ngSubmit)="onsubmit()">

              <div class="form-group">
                <label class="form-label" for="NewPassword">NewPassword</label>
                <input type="NewPassword"  id="NewPassword"formControlName="NewPassword" class="form-control"[ngClass]="{ 'is-invalid': submitted && f['NewPassword'].errors }" />

                   <div *ngIf="submitted && f['NewPassword'].errors" class="invalid-feedback">
                     <div *ngIf="f['NewPassword'].errors['required']">NewPassword is required</div>
                       <div *ngIf="f['NewPassword'].errors['minlength']">
                       NewPassword must be at least 6 characters
                     </div>
                    <div *ngIf="f['NewPassword'].errors['maxlength']">
                        Username must not exceed 40 characters
                       </div>

                    </div>
              </div>



              <div class="form-group">
                <label class="form-label" for="ConfirmPassword"
                  >Confirm Password</label
                >
                <input
                  type="ConfirmPassword"
                  id="ConfirmPassword"
                  formControlName="ConfirmPassword"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['ConfirmPassword'].errors }"
                />
                <div *ngIf="submitted && f['ConfirmPassword'].errors" class="invalid-feedback">
                  <div *ngIf="f['ConfirmPassword'].errors['required']">NewPassword is required</div>
                    <div *ngIf="f['ConfirmPassword'].errors['minlength']">
                    NewPassword must be at least 6 characters
                  </div>
                 <div *ngIf="f['ConfirmPassword'].errors['maxlength']">
                     Username must not exceed 40 characters
                    </div>

                 </div>
              </div>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">
                Chang Passowrd
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
